<div class="top-bar footer">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-item menu-main footer-main">Ecommerce Elements</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu footer-icons">
      <li><button type="button"><i class="fi-social-twitter"></i></button></li>    
      <li><button type="button"><i class="fi-social-facebook"></i></button></li> 
      <li><button type="button"><i class="fi-social-vimeo"></i></button></li> 
      <li><button type="button"><i class="fi-social-pinterest"></i></button></li> 
    </ul>
  </div>
</div>