<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-item menu-main">Ecommerce Elements</li>
      <li class="menu-elements">
        <a class="menu-active" href="#">Home</a>
        <a href="#">Brands</a>
        <a href="#">Mens</a>
        <a href="#">Womens</a>
        <a href="#">Contacts</a>
      </li> 
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><button type="button"><i class="fi-magnifying-glass menu-search"></i></button></li>
      <li><input type="search" placeholder="Search..."></li> 
    </ul>
  </div>
</div>